body {
    font-family: sans-serif; /*background: #eee;*/
}

a, h1, h2 {
    color: #377ba8;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entries li {
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}

.add-entry dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.aside {
    margin-left: 5px;
    order: 1;
}

.categories {
}

.head {
    margin-left: 5px;
    margin-right: 5px;
    order: 1;
    flex: 1 100%;
}

.head, .main, .aside {
    /*flex: 1 100%;*/
}

.post {
    width: 100%;
}

@media all and (min-width: 1301px) {
    .post {
        width: 48%;
    }
}

body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.main {
    flex: 2 0;
    order: 2;
    display: flex;
    flex-flow: row wrap;
}

.collections {
    float: right;
    width: 300px;
}

.collection-dense {
    width: auto;
}

.onehundered {
    width: 100%;
}

.fortyeight {
    width: 48%;
}

.post {
    border: 1px solid black;
    max-width: 60em;
    /*width: 100%;*/
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;
    /*margin: auto;*/
    /*width: 25%;
    height: 100px;*/
    /*margin: auto;
    border-radius:5px;
    display: flex-box;
    /*position: relative;*/
    /*border: 1px solid black;
    /*float: left;*/
    /*width: 450px;*/
    /*min-width: 200px;
    width: 30%;
    overflow-x: auto;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 150px;*/
}

.post footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.post .footer {
    margin: 10px;
}

.post-title {
    margin: 5px;
    font-size: 18px;
}

.add-to-collection {
}

.margin-ten {
    margin: 10px;
}

.margin-five {
    margin: 5px;
}

.post-content {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.signinbar {
    float: right;
}

.small {
    font-size: 0.7em;
    color: #999999;
}

.parent {
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 2px;
}