{% macro render_field(field) %}
    <li>{{ field.label }}</li>
    <li>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>{% endmacro %}
{% macro render_blog(post) %}
    <div>
        <div>{{ post.title }}</div>
        <div>{{ post.content|safe }}</div>
        <div>{{ post.timeposted }}</div>
    </div>
{% endmacro %}
{% macro render_post(post) %}
    <div class="post">
        <div class="post-title"><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <footer class="small"><span>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | <a
                href={{ url_for('PostView:get',postid=post.postid)+"#comments" }}>Amount of
            comments: {{ post.comments.all()|length }}</a>
            {% if g.user.is_active() and g.user.allowed_to_remove_post(post) %}|
                <a href={{ url_for('CategoryView:edit_post', categoryname=post.category.categoryname,postid=post.postid) }}>Edit</a>{% endif %}
            {% if g.user.status == 4 %}| Status: {{ post.statusid }}{% endif %}</span>
            <span class="small">Currently&nbsp;displays&nbsp;incorrect&nbsp;data.</span>
        </footer>
    </div>
{% endmacro %}
{% macro render_post_with_delete(post,form) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <div>{{ post.content|safe }}</div>
        <div>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | Amount of
            comments: {{ post.comments.all()|length }}</div>
        <div>
            {{ form.submit }}
        </div>
    </div>
{% endmacro %}
{% macro render_post_without_delete(post) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <div>{{ post.content|safe }}</div>
        <div>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | Amount of
            comments: {{ post.comments.all()|length }}</div>
    </div>
{% endmacro %}
{% macro render_post_dense(post) %}
    <div class="post fortyeight">
        <div class="post-title">
            <a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a>
        </div>
        <footer class="small">
            <span>
                Postid: {{ post.postid }} | Posted by: <a
                    href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | <a
                    href={{ url_for('PostView:get',postid=post.postid)+"#comments" }}>Amount of
                comments: {{ post.comments.all()|length }}</a>
                {% if g.user.is_active() and g.user.allowed_to_remove_post(post) %} |
                    <a href={{ url_for('CategoryView:edit_post', categoryname=post.category.categoryname,postid=post.postid) }}>
                        Edit</a>{% endif %}
                {% if g.user.status == 4 %}| Status: {{ post.statusid }}{% endif %}
            </span>
            <span class="small">
                Currently&nbsp;displays&nbsp;incorrect&nbsp;data.
            </span>
        </footer>
    </div>
{% endmacro %}
{% macro render_collection(collection) %}
    <div class="collection">
        <div>Collection title:{{ collection.title }}</div>
        <div>Creator:{{ collection.user.username }}</div>
        {% for link in collection.links.all() %}
            <p>{{ link.link|urlize }}</p>
        {% endfor %}
    </div>
{% endmacro %}
{% macro render_collection_dense(collection) %}
    <div class="collection-dense" style="border:1px solid black;">
        <div class="content">
            <div>
                <a href={{ url_for('CollectionView:get',collectionid=collection.collectionid,errors=None) }}>{{ collection.title|truncate(length=20, killwords=True) }}</a>
            </div>
            <div>Links: {{ collection.links.all()|length }}</div>
        </div>
    </div>
{% endmacro %}
{% macro all_moderators() %}
    All moderators:
    {% for moderator in category.moderators.all() %}
        <div>{{ moderator.username }}</div>
    {% endfor %}
{% endmacro %}
{% macro render_comment(comment,postid,commentform) %}
    <div class="parent" id={{ comment.commentid }}>
        <div class="margin-five">
            <div class="small footer">Postid: {{ post.postid }} | Posted by:
                <a href={{ url_for('UserView:get',username=post.user.username) }}>
                    {{ post.user.username }}
                </a> | Amount
                of
                comments: {{ post.comments.all()|length }}
            </div>
            <div>
                {{ comment.content|safe }}
            </div>
            <a href={{ "#"+comment.commentid|string }} onclick="document.getElementById('{{ "comment"+comment.commentid|string }}').style.display
            = 'initial'">
            Reply
            </a>
            <form method=post action=/p/{{ postid }}/{{ comment.commentid }}/comment
                  id={{ "comment" + comment.commentid|string }} style="display: none
            ">
            {{ with_errors(commentform.content) }}
            <input type=submit value="Post the comment">
            {{ form.csrf_token() }}
            </form>
            {% for comment in comment.children recursive %}
                <div>
                    <div class="parent" style="margin-left:{{ 20*loop.depth }}px" id={{ comment.commentid }}>
                        <div class="margin-five">
                            <div class="small footer">Postid: {{ post.postid }} | Posted by:
                                <a href={{ url_for('UserView:get',username=comment.user.username) }}>
                                    {{ comment.user.username }}
                                </a>
                            </div>
                            <div>
                                {% if comment.statusid != 5 or g.user.statusid == 4%}
                                    {{ comment.content|safe }}
                                    {% elif comment.statusid == 5 and g.user.statusid != 4 %}
                                    This comment was deleted by the user.
                                {% endif %}
                            </div>
                            <a href={{ "#"+comment.commentid|string }} onclick="document.getElementById('{{ "comment"+comment.commentid|string }}').style.display
                            = 'initial'">Reply</a>
                            <form method=post action=/p/{{ postid }}/{{ comment.commentid }}/comment
                                  style="display: none" id={{ "comment" + comment.commentid|string }} style="display:
                                  none
                            ">
                            {{ with_errors(commentform.content) }}
                            <input type=submit value="Post the comment">
                            {{ form.csrf_token() }}
                            </form>
                            {% if comment.children %}
                                <div>{{ loop(comment.children) }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
{% macro render_childcomments(parent_comment, postid) %}

{% endmacro %}
{% macro with_errors(field) %}
    <div class="form_field">
        {% if field.errors %}
            {% set css_class = 'has-error ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            <ul class="errors">{% for error in field.errors %}
                <li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {{ field(**kwargs) }}
        {% endif %}
    </div>
{% endmacro %}
