{% macro render_field(field) %}
    <li>{{ field.label }}</li>
    <li>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>{% endmacro %}
{% macro render_blog(post) %}
    <div>
        <div>{{ post.title }}</div>
        <div>{{ post.content|safe }}</div>
        <div>{{ post.timeposted }}</div>
    </div>
{% endmacro %}
{% macro render_post(post) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <div>{{ post.content|safe }}</div>
        <div>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | Amount of
            comments: {{ post.comments.all()|length }}</div>
    </div>
{% endmacro %}
{% macro render_post_with_delete(post,form) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <div>{{ post.content|safe }}</div>
        <div>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | Amount of
            comments: {{ post.comments.all()|length }}</div>
        <div>
            {{ form.submit }}
        </div>
    </div>
{% endmacro %}
{% macro render_post_without_delete(post) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('PostView:get', postid=post.postid) }}>{{ post.title }}</a></div>
        <div>{{ post.content|safe }}</div>
        <div>Postid: {{ post.postid }} | Posted by: <a
                href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a> | Amount of
            comments: {{ post.comments.all()|length }}</div>
    </div>
{% endmacro %}
{% macro render_collection(collection) %}
    <div>
        <div>Collection title:{{ collection.title }}</div>
        <div>Creator:{{ collection.user.username }}</div>
        {% for link in collection.links.all() %}
            <p>{{ link.link|urlize }}</p>
        {% endfor %}
    </div>
{% endmacro %}
{% macro render_collection_dense(collection) %}
    <div style="border:1px solid black;">
        <div>
            <a href={{ url_for('CollectionView:get',collectionid=collection.collectionid,errors=None) }}>{{ collection.title }}</a>
        </div>
        <div>{{ collection.user }}</div>
        <div>Links: {{ collection.links.all()|length }}</div>
    </div>
{% endmacro %}
{% macro all_moderators() %}
    All moderators:
    {% for moderator in category.moderators.all() %}
        <p>{{ moderator.username }}</p>
    {% endfor %}
{% endmacro %}