{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
{% endmacro %}
{% macro render_blog(post) %}
    <div>
        <div>{{ post.title }}</div>
        <div>{{ post.content|safe }}</div>
        <div>{{ post.timeposted }}</div>
    </div>
{% endmacro %}
{% macro render_post(post) %}
    <div style="border:1px solid black;">
        <div>Postid: {{ post.postid }}</div>
        <div>Title: <a href={{ url_for('PostView:get', id=post.postid) }}>{{ post.title }}</a></div>
        <div>Content: {{ post.content|safe }}</div>
        <div>Posted by: <a href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a>
        </div>
        <div>Amount of comments: {{ post.comments.all()|length }}</div>
    </div>
{% endmacro %}
{% macro render_post_with_delete(post,form) %}
    <div style="border:1px solid black;">
        <div>Postid: {{ post.postid }}</div>
        <div>Title: <a href={{ url_for('PostView:get', id=post.postid) }}>{{ post.title }}</a></div>
        <div>Content: {{ post.content|safe }}</div>
        <div>Posted by: <a href={{ url_for('UserView:get',username=post.user.username) }}>{{ post.user.username }}</a>
        </div>
        <div>Amount of comments: {{ post.comments.all()|length }}</div>
        <div>
            {{ render_field(form.submit) }}
        </div>
    </div>
{% endmacro %}
{% macro render_collection(collection) %}
    <div>
        <div>{{ collection.title }}</div>
        <div>{{ collection.user }}</div>
        {% for post in collection.posts.all() %}
            {{ render_post(post) }}
        {% endfor %}
    </div>
{% endmacro %}
{% macro render_collection_dense(collection) %}
    <div style="border:1px solid black;">
        <div><a href={{ url_for('CollectionView:get',id=collection.groupid) }}>{{ collection.title }}</a></div>
        <div>{{ collection.user }}</div>
        <div>{{ collection.posts.all()|length }}</div>
    </div>
{% endmacro %}