{# Inteded to display all posts in a category #}
{% extends "layout.html" %}
{% block body %}
    {% from "_formhelpers.html" import render_post, render_field with context %}
    <h1>{{ category.categorytitle }}</h1>
    <div>
        {% if category.moderators.all() %}
            Moderators in this category:
            {% for moderator in category.moderators.all() %}
                <div>{{ moderator }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if g.user.is_active() and g.user.allowed_to_post_in_category(category) %}
            <a href={{ url_for('CategoryView:new_post',categoryname=category.categoryname) }}>Create a new post in this
                category</a>
        {% endif %}
    </div>
    {% if g.user.is_active() and g.user.allowed_to_remove_category(category) %}
        <form method=post action=/c/{{ category.categoryname }}/delete
              onsubmit="return confirm('Are you sure you want to submit?')">
            {# render_field(form.submit) #}
            <input type="submit" value="Delete">
            {{ form.csrf_token() }}
        </form>
    {% endif %}
    {% for post in posts %}
        {{ render_post(post) }}
    {% endfor %}
{% endblock %}