{% extends "layout.html" %}
{% block body %}
    {% from "_formhelpers.html" import render_field, with_errors %}
    <form method=post action=/c/new>
        <dl>
            {{ with_errors(form.categoryname) }}
            <span class="small">The name that will be used in the url, (somethingsimilartothis), may only contain a-z and + -.</span>
            {{ with_errors(form.categorytitle) }}
            <span class="small">The text that will be at the top of the page, (Something similar to this).</span>
        </dl>
        <p><input type=submit value=New></p>
        {{ form.csrf_token() }}
    </form>
{% endblock %}