<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div>
    <a href={{ url_for('MainView:index') }}>Home</a>
    {% if not g.user.is_active() %}
        <div style="float:right"><p>Do you want to <a href={{ url_for('RegisterView:new_user') }}> register?</a></p>

            <p>Or do you want to <a href={{ url_for('LoginView:index') }}>Login</a></p></div>
    {% else %}
        <div style="float:right">
            <a href={{ url_for('LogoutView:logout') }}>Log out</a>
            <a href={{ url_for('UserView:get',username= g.user.username) }}>{{ g.user.username }}</a>
        </div>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>