{% extends "layout.html" %}
{% block body %}
    {{ message }}
    <h1>Overview</h1>
    <p>Do you want to <a href={{ url_for('RegisterView:index') }}> register?</a></p>
    <p>Or do you want to <a href={{ url_for('LoginView:index') }}>Login</a></p>
    {%  for post in posts %}
        {% if post %}
            <div>Title: <a href={{ url_for('PostView:get', id=post.postid) }}>{{ post.title }}</a></div>
            <div>Content: {{ post.content }}</div>
            <div>Username: <a href={{ url_for('UserView:get', id=post.user.userid) }}>{{ post.user.username }}</a></div>
            <div>Usercomments: {{ post.user.allcomments.all() }}</div>
            <div>Usergroups: {{ post.user.groups.all() }}</div>
        {% endif %}
    {% endfor%}
{% endblock %}