{% extends "layout.html" %}
{% from "_formhelpers.html" import render_post_dense, render_collection_dense with context %}
{% block body %}
    {% if g.user.is_active() %}
        <div class="onehundered">
            <div>
                <dl>
                    <dt>New <a href={{ url_for('PostView:new_post') }}>post</a></dt>
                    <dt>Create a new <a href={{ url_for('CollectionView:new_collection') }}>collection</a>?</dt>
                    <dt>or a new <a href={{ url_for('CategoryView:new_category') }}>category</a>?</dt>
                </dl>
            </div>
            {% if g.user.moderator %}
                <div>
                Moderator in:
                {% for moderator in g.user.moderator %}
                    <a href={{ url_for('CategoryView:get',categoryname=moderator.categoryname) }}>{{ moderator.categorytitle }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <div>
                Your userpage:
                <a href={{ url_for('UserView:get', username=g.user.username) }}>{{ g.user.username }}</a>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        {{ render_post_dense(post) }}
    {% endfor %}
{% endblock %}