{% extends "layout.html" %}
{% block body %}
    {{ message }}
    <h1>Overview</h1>
    {% if g.user.is_active() %}
        <p>Do you want to create a new <a href={{ url_for('CollectionView:new_collection') }}>collection</a>?</p>
        <p>Or a new <a href={{ url_for('PostView:new_post') }}>post</a>?</p>
        <p>Create a new <a href={{ url_for('CategoryView:new_category') }}>category</a>.</p>
        {{ g.user.collections.all() }}
        <a href={{ url_for('UserView:get', username=g.user.username) }}>{{ g.user.username }}</a>
    {% endif %}
    {% for post in posts %}
        {% if post %}
            <div>Title: <a href={{ url_for('PostView:get', id=post.postid) }}>{{ post.title }}</a></div>
            <div>Content: {{ post.content }}</div>
            {{ post }}
            {{ post.user }}
            <div>Username: <a
                    href={{ url_for('UserView:get', username=post.user.username) }}>{{ post.user.username }}</a>
            </div>
            <div>Usercomments:{{ post.user.allcomments.all() }}</div>
            <div>Usergroups: {{ post.user.collections.all() }}</div>
        {% endif %}
    {% endfor %}
    <p>Categories:</p>
    {% for category in categories %}
        {% if category %}
            {{ category }}
        {% endif %}
    {% endfor %}
{% endblock %}