{% extends "layout.html" %}
{% block body %}
    {% from "_formhelpers.html" import render_field %}
    <!--<form method=post action=/category/{{ id }}/p/new>
        <dl>
            {#  #} render_field(linkform.title) }}
            {#  #} render_field(linkform.link) }}
        </dl>
        <p><input type=submit value=Post/></p>
        {#  #} linkform.csrf_token() }}
    </form>-->
    <form method=post action=/p/new/>
    <dl>
        <dt>{{ form.title() }}</dt>
        <dt><span class="small">The title of the post.</span></dt>
        <dt>{{ form.categoryname }}</dt>
        <dt><span class="small">The name of the category that the post will get posted to.</span></dt>
        <dt>{{ form.content }}</dt>
        <dt><span class="small">Content allows for markdown to be used.</span></dt>
    </dl>
        <p><input type=submit value=Post></p>
        {{ form.csrf_token() }}
    </form>
{% endblock %}