{% extends "layout.html" %}
{% block body %}
    {% from '_formhelpers.html' import render_post_with_delete, render_post_without_delete with context %}
    <h1>Post - {{ post.title or "There isn't anything here" }}</h1>
    {% if post and allowed_to_remove %}
        <form method=post action=/p/{{ post.postid }}/delete>
            {{ render_post_with_delete(post,form) }}
            {{ form.csrf_token() }}
        </form>
    {% elif post %}
        {{ render_post_without_delete(post) }}
    {% endif %}
{% endblock %}