{# Inteded to display a single collection #}
{% extends "layout.html" %}
{% block body %}
    {% from "_formhelpers.html" import render_collection, render_field, with_errors with context %}
    <div class="margin-ten onehundered">

        {# Delete the collection #}
        <form method=post action=/collection/{{ collection.collectionid }}/delete
              onsubmit="return confirm('Are you sure you want to delete {{ collection.title }}?')">
            <span class="margin-five">{{ collection.title }} by {{ collection.user.username }}</span>
        </form>
        <h3 class="margin-five">Links in the collection</h3>
        {% for link in collection.links %}

            <form method=post action=/collection/{{ collection.collectionid }}/{{ link.linkid }}/delete
                  onsubmit="return confirm('Are you sure you want to remove {{ '"' +link.link+ '"' }} from this collection?')">
                <div class="margin-five">{{ link.link|urlize }}</div>
            </form>
        {% endfor %}
        {# render_collection(collection) #}
    </div>
{% endblock %}